header {
    height: 60px;
    border-bottom: 1px solid #eee;
  }
  
  header .content {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }
  
  header .content .user {
    display: flex;
    align-items: center;
  }

  header .content .user img {
    border-radius: 50%;
  }
  
  header .content .user .im {
    background-color: blueviolet;
  }